
CMakeFiles/*
*.dir
x64/*
ipch/*
*.db
*.opendb
*.suo
*.generated.h
*.ipch
./*.vcxproj
*.filters
*.user
.vscode/ipch
build/*
Win32
x64
*.filters
*.user
*.vcxproj
.vs
Debug
*.sln
CMakeCache.txt
*.cmake

lib/DirectXTK/CMakeFiles/*
lib/DirectXTex/CMakeFiles/*
*.pdb

Release/*
Engine/CMakeFiles/*
Engine/DirectXTex/CMakeFiles/*
Engine/Release/*


*.stamp
*.stamp.depend
*.TMP
*.depend
*.depend
